<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!-- 扫描注解,只扫描controller包 -->
	<context:component-scan
		base-package="com.xlh.controller"></context:component-scan>
<!-- 	<context:component-scan
		base-package="com.xlh.interceptor"></context:component-scan> -->
	<!-- 注解驱动,注册HandlerMapping和HandlerAdapter -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 设置静态资源 -->
	<mvc:resources location="/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/images/" mapping="/images/**"></mvc:resources>
	<mvc:resources location="/layui/" mapping="/layui/**"></mvc:resources>
	<mvc:resources location="/html/" mapping="/html/**"></mvc:resources>
	<!-- 视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
	</bean>
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<!-- 拦截所有的请求，这个必须写在前面，也就是写在【不拦截】的上面 -->
			<mvc:mapping path="/**" />
			<!-- 但是排除下面这些，也就是不拦截请求 -->
			<!-- <mvc:exclude-mapping path="/js/**"/> -->
            <mvc:exclude-mapping path="/css/**"/>
            <mvc:exclude-mapping path="/layui/**"/>
			<mvc:exclude-mapping path="/login.jsp" />
			<mvc:exclude-mapping path="/login" />
			<bean class="com.xlh.interceptor.FirstInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>