<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlh.mapper.UserMapper">
	<select id="selByUser" resultType="user">
		select * from user where username = #{username} and password = #{password}
	</select>
 	
 	<select id="selAll" resultType="userInfo">
  select username,password,name,rid,message
  from user u LEFT JOIN role r on u.rid=r.id
   	</select>
   	
   	<select id="selByUsername" resultType="user">
 select * from user where username = #{username}
   	</select>
   	
   	<insert id="addUser" parameterType="userInfo">
   	insert into user values(default,#{username},#{password},#{rid})
   	</insert>
   <!-- 	<select id="selByUsername" resultType="user">
		select * from user where username = #{username}
	</select> -->
	
	<delete id="delUserByUsername" parameterType="String">
    delete from user where username=#{0}
	</delete>
	
</mapper>